In [1]:
import pandas as pd
from pandas import DataFrame as DF, Series
import numpy as np
import requests
import re

In [2]:
client_token = '230875850816746|hh1JJh8ebiRPuFb_V85xqto4lNo'
def search(q):
    url = 'https://graph.facebook.com/v2.12/search?'
    params = {'access_token': client_token,
              'q': q,
              'type': 'place',
              'fields': 'category_list,about,website,name,location'}
    r = requests.get(url, params=params).json()['data']
    locations = []
    results = []
    for d in r:
        for k in list(d):
            if k == 'category_list':
                d[k] = ','.join([_['name'] for _ in d[k]])
            elif k == 'location':
                _ = d[k].copy()
                _['id'] = d['id']
                locations.append(_)
                del d[k], _
        results.append(d)
    return DF(results).merge(DF(locations), on='id')

## Transaction Detail First Batch

In [3]:
import io

url = """https://raw.githubusercontent.com/hackoregon/elections-2018/
master/transaction_detail_first_batch.csv"""
r = requests.get(url.replace('\n', ''))
xdf = pd.read_csv(io.StringIO(r.content.decode('utf-8')), dtype={'Agent': str})

In [56]:
xdf.iloc[40]

Address                             PO Box 19477 Portland OR 97280-0477
Address Book Type                                       Business Entity
Agent                                                               NaN
Aggregate                                                       $200.00
Amount                                                          $200.00
Associations                                                        NaN
Check                                                               541
CoSigner Obligations                                                NaN
Description                                                    Donation
Due Date                                         06/22/2009 11:59:00 PM
Employer Name                                                       NaN
Exam Letter Date                                             01/11/2010
Filed Date                                       01/09/2010 09:18:24 AM
In-Kind/Independent Expenditures                                     ,
Interest Rate                                                       NaN
Name                                      Loaves & Fishes Centers, Inc.
Occupation                                                          NaN
Occupation Letter Date                                              NaN
Payer of Personal Expenditure                                       NaN
Payment Method                                                    Check
Process Status                                                 Complete
Purpose                                               Cash Contribution
Repayment Schedule                                                  NaN
Transaction Date                                             05/22/2009
Transaction ID                                                 677249,
Transaction Sub Type                                   Cash Expenditure
Transaction Type                                            Expenditure
Name: 40, dtype: object

In [4]:
# some business names & addresses
xdf[xdf.loc[:, 'Address Book Type'] == 'Business Entity']\
    .loc[:, ['Name', 'Address']]\
    .drop_duplicates().head(20)

,Name,Address
1,Oregon Speech Language Hearing Association,PO Box 523 Salem OR 97308
29,Arizona Town Hall,"One East Camelback Rd., Suite 530 Phoenix AZ 8..."
40,"Loaves & Fishes Centers, Inc.",PO Box 19477 Portland OR 97280-0477
41,National Multiple Sclerosis Society,"c/o Kurt Davis, First Strategic 300 W. Clarend..."
56,Waste Management,P.O. Box 3027 Harris County Houston TX 77253-3027
57,Wright Public Affairs,623 North Morgan Street Portland OR 97217
71,PROVIDENCE Health Services,P.O. BOX 389673 King County Seattle WA 98138-9673
77,A to Z signs,503 N.E. 2nd Gresham OR 97030
78,Portland General Electric Company,121 SW Salmon St Portland OR 97204
79,"Heery International, Inc","999 Peachtree Street, NE Fulton County Atlanta..."
80,Fed Ex Office,2044 NE Burnside Street Gresham OR 97030-7943
82,Miller Nash Graham and Dunn,3400 U.S. Bancorp Tower 111 S.W. Fifth Avenue ...
86,Todd Construction,P.O. Box 949 Tualatin OR 97224
91,Dull Olson Weekes Architects Inc,907 SW Stark Street Portland OR 97205
93,Our Oregon,"618 NW Glisan Street, Suite 203 Portland OR 97209"
95,KAISER PERMANENTE,75N. Fair Oaks Avenue 4th Fl Pasadena CA 91103
97,Northwest Natural Gas Company,220 NW Second Ave Portland OR 97209
98,Multnomah County,1040 SE Morrison St Portland OR 97214
99,Clackamas County,1710 Red Soils Court Ste 100 Oregon City OR 97045
111,Wells Fargo Bank,90 South 7th Street Minneapolis MN 55479

In [5]:
df = search('Nike')

In [6]:
df.head().T

,0,1,2,3,4
about,NaN,Please note that we have an official Parmarth ...,We are greatful to be part of helping to be sp...,NaN,NaN
category_list,Footwear Store,"Religious Center,Religious Organization,Yoga S...","Sporting Goods Store,Region,Sports Club",Sporting Goods Store,Sporting Goods Store
id,195780813847551,248702735154148,120450974981872,618778561628746,1032614663520706
name,Nike,Parmarth Niketan Ashram Rishikesh,Nike team,Nike,Nike
website,http://www.nike.com,www.parmarth.org,http://m.nike.com/us/en_us/,http://www.nike.com/es/es_es/c/countries/unite...,http://www.nike.com/nl/nl_nl
city,Portland,Rishikesh,Portland,London,Hilversum
country,United States,India,United States,United Kingdom,Netherlands
latitude,45.519,30.1191,45.5418,51.5157,52.2131
located_in,154528042042,NaN,NaN,NaN,NaN
longitude,-122.677,78.3121,-122.661,-0.141792,5.19027
state,OR,NaN,OR,NaN,NaN
street,638 SW 5th Ave,P.O. Swargashram,NaN,236 Oxford Street,1 Colosseum
zip,97204,249137,97212,W1C 1DE,1213Nl

In [7]:
search('Oregon Speech Language Hearing Association').head().T

                                                               0
about          The Oregon Speech-Language-Hearing Association...
category_list                    Speech Pathologist,Organization
id                                               142750555806480
name                Oregon Speech-Language & Hearing Association
website                    http://www.oregonspeechandhearing.org
city                                                       Salem
country                                            United States
latitude                                                 44.9376
located_in                                       105362302832944
longitude                                               -123.025
state                                                         OR
street                                          1284 Court St NE
zip                                                        97301

In [8]:
search('Loaves & Fishes Centers, Inc.').head().T

                                                               0
about          Beckley Dream Center is a Faith Based Non-Prof...
category_list                             Nonprofit Organization
id                                               627133924085198
name              Beckley Dream Center INC DBA Fishes and Loaves
website        http://beckleydreamcenter.wix.com/beckley-drea...
city                                                     Beckley
country                                            United States
latitude                                                 37.8092
longitude                                               -81.1891
state                                                         WV
street                                           224 Pinewood Dr
zip                                                        25801

In [9]:
df = search('National Multiple Sclerosis Society')
df.head().T

,0,1,2,3,4
about,NaN,NaN,"Our Chapter serves over 17,000 people living w...",NaN,The National MS Society is a collective of pas...
category_list,"Medical Center,Disability Service","Public Service,Social Service","Nonprofit Organization,Charity Organization,So...","Public Service,Social Service","Nonprofit Organization,Medical & Health"
id,117674628292189,164880083537792,282930522605,158607414172037,421115734608528
name,National Multiple Sclerosis Society,Multiple Sclerosis Society National,National MS Society - Greater Northwest Chapter,National Multiple Sclerosis Society,"National Multiple Sclerosis Society, Hawaii"
website,http://www.nmss.org,http://www.nationalmssociety.org,http://www.MSnorthwest.org,NaN,http://www.mshawaii.org
city,Los Angeles,Greensboro,Seattle,Portland,Pearl City
country,United States,United States,United States,United States,United States
latitude,34.0367,36.0473,47.6483,45.5122,21.3947
located_in,NaN,NaN,NaN,NaN,NaN
longitude,-118.433,-79.8404,-122.354,-122.677,-157.972
state,CA,NC,WA,OR,HI
street,"2440 S Sepulveda Blvd, Ste 115",2211 W Meadowview Rd,"192 Nickerson St, Ste 100",104 SW Clay St,NaN
zip,90064,27407,98109,97201,96782

In [18]:
def matches(x, ex):
    print(x, ex)
    if x != x:
        return False
    if re.search(x, ex):
        return True
    else:
        return False
    
addr = xdf[xdf.Name == 'National Multiple Sclerosis Society'].Address.tolist()[0]
addr = 'SW Clay'
df[df.apply(lambda x: matches(x['street'], addr), axis=1)]

2440 S Sepulveda Blvd, Ste 115 SW Clay
2211 W Meadowview Rd SW Clay
192 Nickerson St, Ste 100 SW Clay
104 SW Clay St SW Clay
nan SW Clay
900 S Broadway, Ste 250 SW Clay
4221 Northgate Blvd SW Clay
5025 E Washington St SW Clay
1 Reed St, Ste 200 SW Clay
1669 W Avenue J SW Clay
1630 Manheim Pike SW Clay
14 W Valerio St SW Clay
214 Overlook Cir, Ste 153 SW Clay
5 E Citrus Ave Ste 107 SW Clay
2105 Luna Rd, Ste 390 SW Clay
8111 N Stadium Dr SW Clay
205 Hallene Rd, Ste 209 SW Clay
9600 N Mo Pac Expy SW Clay
1700 Owens St SW Clay
101 1st Ave, Ste 6 SW Clay
525 W. Monroe St., Ste. 1510 SW Clay
2040 Linglestown Rd, Ste 104 SW Clay
2209 Forest Hill Drive, Suite 18 SW Clay
nan SW Clay
2112 W Laburnum Ave SW Clay

Empty DataFrame
Columns: [about, category_list, id, name, website, city, country, latitude, located_in, longitude, state, street, zip]
Index: []

In [15]:
if re.search('SW Clay', '104 SW Clay St')

True

In [12]:
df.apply(lambda x: matches(x['street'], addr), axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
dtype: bool

In [13]:
addr

'SW Clay'

In [14]:
df.iloc[14]

about                                                         NaN
category_list                                Charity Organization
id                                                581608465321297
name             National Multiple Sclerosis Inland Empire Branch
website                          http://www.nationalmssociety.org
city                                                     Redlands
country                                             United States
latitude                                                  34.0557
located_in                                                    NaN
longitude                                                -117.182
state                                                          CA
street                                     5 E Citrus Ave Ste 107
zip                                                         92373
Name: 14, dtype: object